*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E4E3E3;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
}
nav{
    
    flex: 1;
    text-align: right;
}
.containerheader{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
nav ul{
    
    display: inline-block;
    list-style-type: none;
    margin-bottom:0;
}
nav ul li{
    
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.bbb{
    background-color: #ff523b;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff, rgb(216, 215, 215));
}
.header .row{
    margin-top: 70px;
}
.card {
    border: none
}

.logo {
    background-color: #eeeeeea8
}

.totals tr td {
    font-size: 13px
}

.footer {
    background-color: #eeeeeea8
}

.footer span {
    font-size: 12px
}

.product-qty span {
    font-size: 12px;
}